.App-link {
  color: #61dafb;
}
/* .App {
  background-image: url("../assets/fondo.png.jpg");
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
